* {
	margin: 0;
	padding: 0;
}

:root {
	--light-text: #000000;
	--light-background: #FFFFFF;
	--light-box: #EDF3F9;
	--light-accent: #3EF5FF;
	--light-gray: #D3D3D3;
	--dark-text: #FFFFFF;
	--dark-background: #22262B;
	--dark-box: #3E464E;
	--dark-accent: #3EF5FF;
	--dark-gray: #627B8C;
	--radius: .5rem;
}

@media (prefers-color-scheme: dark) { 
	body {
		color: var(--dark-text); 
		background: var(--dark-background);
	}

	.action-button {
		background: var(--dark-accent);
	}

	select {
		color: var(--dark-text);
    	background: var(--dark-gray);
    	background-image: url("/images/lightselect.svg");
	}

	input {
		color: var(--dark-text);
    	background: var(--dark-gray);
    	border-bottom: .2rem solid var(--dark-box);
	}

	input:focus {
		border-bottom: .2rem solid var(--dark-background);
	}

	#form {
		background: var(--dark-box);
	}

	a {
		color: var(--dark-text);
	}

	a:visited {
		color: var(--dark-text);
	}

	#responseBubble {
		background: var(--dark-gray);
	}

	::selection {
	    background: var(--dark-gray);
	}
}

@media (prefers-color-scheme: light) { 
	body {
		color: var(--light-text); 
		background: var(--light-background);
	}

	.action-button {
		background: var(--light-accent);
	}

	select {
		color: var(--light-text);
    	background: var(--light-box);
    	background-image: url("/images/darkselect.svg");
	}

	input {
		color: var(--light-text);
    	background: var(--light-background);
    	border-bottom: .2rem solid var(--light-box);
	}

	input:focus {
		border-bottom: .2rem solid var(--light-gray);
	}

	#form {
		background: var(--light-box);
	}

	a {
		color: var(--light-text);
	}

	a:visited {
		color: var(--light-text);
	}

	#responseBubble {
		background: var(--light-box);
	}

	::selection {
	    background: var(--light-gray);
	}
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "Roboto";
	src: url("./Roboto.ttf");
	font-display: swap;
}

body {
	box-sizing: border-box;
	font-family: "Roboto";
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

h1 {
	font-family: "Roboto";
	font-size: 1.6rem;
}

h3 {
	font-size: 1.3rem;
	font-weight: 400;
}

h6 {
	font-size: .9rem;
	font-weight: 400;
	font-style: italic;
}

p {
	font-size: 1.1rem;
	line-height: 1.7;
}

li {
	font-size: 1.1rem;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	-moz-appearance: none;
	background: none;
}

button:disabled {
	opacity: .2;
	cursor: not-allowed;
}

.action-button {
	border-radius: var(--radius);
	color: black;
	padding: .5rem .75rem;
	font-size: 1.1rem;
}

input {
	font-size: 1.1rem;
	padding: .5rem;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: var(--radius);
	-webkit-user-select: text;
    user-select: text;
}

input:focus {
	outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.1rem;
    border-radius: 0;
    min-width: 100px;
    padding: .5rem 0 .5rem .5rem;
    padding-right: 2rem;
    outline: none;
    border: none;
    border-radius: var(--radius);
    background-repeat: no-repeat;
    background-position: center right .5rem;
    background-size: 1rem;
    cursor: pointer;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select:focus {
	border-bottom: .2rem solid var(--brand-dark);
}

a {
	text-decoration: underline;
}